﻿@model IEnumerable<Try4.Models.Post>


<h2>Your Post</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detail)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID }) 
            </td>
        </tr>
    }



    </table>*@


<div class="row text-center text-lg-left">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-4 col-xs-6 box">
            <a href="@Url.Action("Details", new { id = item.ID })" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src=" @Html.DisplayFor(modelItem => item.ImagePath)"  onerror="this.src='../img/noimg.png'"  />
            </a>
            <p>@Html.DisplayFor(modelItem => item.Item)</p>
            <p>@Html.DisplayFor(modelItem => item.Detail)</p>
        </div>
    }
</div>

<style>
        .box img {
            float: left;
            width: 250px;
            height: 200px;
            border: 1
        }

</style>